<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
    </a>
    <mat-form-field appearance="outline" *ngIf="authService.getToken()">
      <mat-label>Result</mat-label>
      <input
        matInput
        type="time"
        (blur)="updateResult()"
        [(ngModel)]="resultTime"
      />
    </mat-form-field>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
