main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding: 30px;
  width: 500px;
  align-items: center;
}
.section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
  text-align: center;
}

mat-form-field,
button[type='submit'] {
  display: block;
  width: 100%;
  font-size: 20px;
}

mat-card-content {
  width: 100%;
}
