<main>
  <h1 class="app-name">Aribet</h1>
  <mat-card mat-elevation-z12>
    <mat-card-header>
      <mat-card-title>Select an option</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        *ngIf="!authService.getToken()"
        mat-raised-button
        color="primary"
        (click)="navigateToSignIn()"
      >
        Log In
      </button>
      <button
        *ngIf="!authService.getToken()"
        mat-raised-button
        color="primary"
        (click)="navigateToSignUp()"
      >
        Sign Up
      </button>
      <button
        *ngIf="authService.getToken() && !hasBetToday"
        mat-raised-button
        color="primary"
        (click)="navigateToCreateBet()"
      >
        Create bet
      </button>
      <button
        *ngIf="authService.getToken() && hasBetToday"
        mat-raised-button
        color="primary"
        (click)="navigateToViewBet()"
      >
        Today's bet
      </button>
      <button
        *ngIf="authService.getToken()"
        mat-raised-button
        color="primary"
        (click)="navigateToTodaysList()"
      >
        Today's list
      </button>
      <button
        *ngIf="authService.getToken() && showWinner"
        mat-raised-button
        color="primary"
        (click)="navigateToTodaysResult()"
      >
        Today's winners
      </button>
      <button
        *ngIf="authService.getToken()"
        mat-raised-button
        color="primary"
        (click)="logOut()"
      >
        Log Out
      </button>
    </mat-card-content>
  </mat-card>
</main>
